*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #bcd6d4;
}
.hero{
    background-image: url(image/header.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.textos-hero{
    height: 500px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 15%;
}
.textos-hero h1{
    font-size: 60px;
}
.textos-hero p{
    font-size: 40px;
    margin-bottom: 30px;
}
.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 16px 19px;
    background: #000000;
    border-radius: 10px;
    color: #bcd6d4;
}
.svg-hero{
    position: absolute;
    bottom: auto;
    left: 0;
    width: 100%;
}
/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}
.titulo{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.titulo.left{
    text-align: center;
}
/* Section */
.website{
    display: flex;
    justify-content: space-between;
}
.website img{
    width: 48%;
}
.website .contenedor-textos-main{
    width: 40%;
}
.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    text-decoration: none;
    background-color: #000000;
    padding: 16px 19px;
    border-radius: 10px;
    color: #bcd6d4;
}
/* Info */

.info{
    background: #ebe8d8;
    color: #000000;
}
/* galeria */
.galeria{
    background: #3f7063;
}
.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}
.galeria-cont >img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 5);
    cursor: pointer;
    overflow: hidden;
}
@media screen and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 50px;
    }
    /*estilos generales*/
    .titulo{
        font-size: 30px;
    }
    .titulo.left{
        text-align: center;
    }
    .info p{
        text-align: center;
    }
    /*section*/
    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .website img{
        width: 100%;
    }
    .website .contenedor-textos-main{
        width: 100%;
    }
    /* galeria */

    .galeria-cont >img{
        width: 48%;
    }
}
Html {
    scroll-behavior: smooth;
}